---
import Layout from '../layouts/Layout.astro';
import Title from '../components/title.astro';
import Title2 from '../components/title2.astro';
import TitleYellow from '../components/titleyellow.astro';
import Paragraph from '../components/paragraph.astro';

import Github from '../components/github.astro';
import Discord from '../components/discord.astro';
import Gmail from '../components/gmail.astro';
import Cv from '../components/cv.astro';

import Project from '../components/project.astro';
---

<Layout title="Welcome to Astro.">
  <main class="py-24 lg:ml-80 lg:mr-80 md:ml-20 md:mr-20 ml-20 mr-20">
    <Title text="Hola, soy " />
    <TitleYellow text="Adrià Cabrera" />

    <Paragraph>
      Actualmente estudio un grado medio de Microinformatica y redes en
      Sabadell, España. Soy un autodidacta apasionado por la programación con
      una amplia curiosidad por aprender.
    </Paragraph>
    <section class="flex gap-2">
      <Cv text="Ver CV" />
      <Github />
      <Discord />
      <Gmail />
    </section>

    <section class="mt-6">
      <Title2 text="🧑🏽‍💻 Proyectos" />
      <Project img="/public/projects/bill.png" />
    </section>
  </main>
</Layout>
